<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AppSec</title>
</head>
<body>
<h1 style="text-align: center">AppSec main page</h1>
<p style="font-size: 24px; text-align: center">This page is dedicated to best AppSec practices</p>
<p style="font-size: 20px; text-align: center; line-height: 2">Enter acronym of practice you want to learn about</p>
<form id="AppSecForm" action="/appsec" method="get" style="text-align: center">

    <!-- поле ввода логина -->
    <div class="form-group">
        <label style="font-size: 18px; line-height: 2">Acronym</label>
        <label>
            <input name="key" class="form-control" required/>
        </label>
    </div>
    <div class="form-group">
        <input style="margin: 15px" type="submit" class="btn btn-primary" value="Find">
    </div>
</form>

</body>
</html>
