<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authorization</title>
</head>
<body>
<p style= "font-size: 24px; text-align: center; line-height: 2"> Enter username and password </p>
<form id="loginForm" action="/login" method="post" style="text-align: center">
    <!-- поле ввода логина -->
    <div class="form-group">
        <label style="font-size: 18px; line-height: 2">Username</label>
        <label>
            <input name="username" class="form-control" required/>
        </label>
    </div>
    <!-- поле ввода пароля -->
    <div class="form-group">
        <label style="font-size: 18px; line-height: 2">Password</label>
        <label>
            <input type="password" name="password" class="form-control" required>
        </label>
    </div>
    <!-- кнопка отправки данных -->
    <div class="form-group">
        <input style="margin: 15px" type="submit" name="submit" class="btn btn-primary" value="Sign in">
    </div>
</form>
</body>
</html>